@model Api_Crud.Models.Medidor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medidor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedidorTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedidorTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedidorStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedidorStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedidorConsumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedidorConsumo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MedidorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
